# Rename to .env.local and fill in your EmailJS credentials (https://www.emailjs.com/)
VITE_APP_SERVICE_ID=service_xxxxxxxxxx
VITE_APP_TEMPLATE_ID=template_xxxxxxxxxx
VITE_APP_PUBLIC_KEY=xxxxxxxxxxxxxxx
VITE_APP_EMAIL=contact@tdsm.mc
